/* ヘッダー */
header .app-name {
    background-color:skyblue;
    /* headerデフォルト余白の打消し */
    margin-bottom:0;
}

nav.navbar {
    /* .navbarデフォルト余白の打消し */
    padding:0;
}

nav .navbar-brand {
    /* .navbar-brandデフォルト余白の打消し */
    margin-right:0;
}

li.active {
    background-color:lightgrey;
}

table.table {
    /* .tableデフォルト余白の打消し */
    margin-bottom:0; 
}

/* フッター */
footer {
    background-color:skyblue;
}

footer p {
    /* pデフォルト余白の打消し */
    margin-bottom:0;
}

/* 一覧メインコンテンツ */
main {
    background-color:ghostwhite;
}

/* 登録フォーム */
.form-control::placeholder {
    color:lightgrey;
}

/* 連絡者一覧 */
.btn-re-reservation {
    background-color:darkorange;
    color:white;
    padding-left:.50rem;
    padding-right:.50rem;
}